html {
    color: white;
}
#content {
    padding: 20px;
    background-color: #282c34;/*#0c0016;*//*#21003a;*/
    color: #abb2bf;
    z-index: -1;
    overflow: auto;
    height: calc(100vh - 56px);
}
#navbar {
    color: #abb2bf;
    background-color: #3e4452;/*#0c0016;*//*#150025;*/
}

/* Options */
.option {
    color: #61afef;
}

.option.selected {
    color: #98c379;
    text-decoration: underline;
}

.option.active {
    cursor: pointer;
}

.option.active:hover {
    text-decoration: underline;
}

/* Colors */
.red {
    color: #e06c75;
}

.green {
    color: #98c379;
}

.blue {
    color: #61afef;
}

.orange {
    color: #d19a66;
}

.purple {
    color: #c678dd;
}
