    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="index.css">

    <!-- Navbar -->
    <nav id="navbar" style:"z-index: 1000" class="navbar navbar-expand-sm navbar-dark shadow">
        <a id="room" class="navbar-brand" href="#" data-toggle="tooltip" data-placement="bottom" title="You are currently in this room.">Room</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <!-- Items are not supported right now so don't show this element
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Inventory (<span id="inventory-counter">0</span>)</a>
                </li>
                -->
                <li class="nav-item dropdown active ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Help
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">About</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="exitGame()">Quit Game</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content -->
    <div id="content"></div>
